{% extends 'main/base.html' %}

{% block content %}
<div class="bg-fgreen-800 sm:w-[95vw] md:w-[75vw] rounded-lg mt-12 mb-8 mx-auto">
    <div class="bg-gray-800 shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% for message in messages %}
        <div id="alertBox" class="bg-forange-300 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <span class="block sm:inline">{{ message }}</span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3" onclick="closeAlert()">
              <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <title>Schließen</title>
                <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
              </svg>
            </span>
        </div>
        {% endfor %}
        <h1 class="text-3xl font-bold mb-8 text-center">{{ object.name }}</h1>
        
        <p class="text-center">Start: {{ object.start_date }}</p>
        <p class="text-center">Ende: {{ object.end_date }}</p>

        <div class="flex flex-col items-center justify-center mt-8">
            <div class="flex justify-center items-center mb-4">
                <img src="{{ object.raw_preview.url }}" alt="RAW Preview" class="w-96 h-auto object-cover rounded-md">
            </div>

            <p class="text-white text-lg leading-7 mb-4">Regeln: {{ object.details }}</p>
            <a href="{% url 'editing_challenge:editing_challenge_download' object.pk %}" class="py-1 px-2 bg-forange-300 rounded-lg text-blue-500">RAW Datei downloaden</a>
        </div>

        <h2 class="text-2xl text-center font-bold mt-8 mb-4">Einreichungen</h2>
        
        <ul class="flex flex-col justify-center items-center">
            {% for submission_data in submissions_with_comments %}
            <li class="mb-8">
                <div class="flex justify-center items-center">
                    <div class="flex flex-col items-start p-4 mb-4" style="max-width: 640px; width: 100%;">
                        <div class="flex items-center mb-4">
                            <img src="{{ submission_data.user_picture }}" alt="{{ submission_data.submission.user.username }}" class="w-8 h-8 rounded-full mr-3">
                            <div>
                                <p class="font-semibold">{{ submission_data.submission.user.username }}</p>
                                <p class="text-xs text-gray-500">{{ submission_data.submission.submitted_at }}</p>
                            </div>
                        </div>
                        <a href="{{ submission_data.submission.edited_image.url }}" data-lightbox="roadtrip">
                            <img src="{{ submission_data.submission.edited_image.url }}" alt="Submission by {{ submission_data.submission.user.username }}" class="w-96 h-auto object-cover rounded-md mb-2">
                        </a>
                        <div class="relative flex items-center">

                            {% if can_vote %}
                                <form method="post" action="{% url 'editing_challenge:editing_vote_submission' submission_data.submission.id %}" class="flex items-center">
                                    {% csrf_token %}
                                    <button type="submit" class="font-bold flex items-center" {% if not user.is_authenticated or not can_vote %}disabled{% endif %}>
                                        {% if submission_data.has_voted %}
                                            <i class="fa-solid fa-heart text-red-500 mr-1"></i>
                                        {% else %}
                                            <i class="fa-regular fa-heart mr-1"></i>
                                        {% endif %}
                                        {{ submission_data.submission.votes.count }}
                                    </button>
                                </form>
                            {% endif %}
                            
                            <button class="ml-4 flex items-center text-blue-400 toggle-comments-button">
                                <i class="fas fa-comments mr-1"></i>
                                <span class="ml-1 comment-counter">{{ submission_data.comments|length }}</span>
                                <span class="ml-2 comment-toggle-text hidden">Kommentare verbergen</span>
                            </button>
                            
                            {% if submission_data.submission.is_winner %}
                            <p class="text-yellow-400 ml-4">Gewinner!</p>
                            {% endif %}
                            {% if user.is_authenticated and submission_data.submission.user == user %}
                                <form method="post" action="{% url 'editing_challenge:delete_submission' submission_data.submission.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="py-1 px-2 bg-red-500 text-white rounded-full p-1 ml-4">Löschen</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
                <div class="bg-gray-700 p-4 -mt-8 rounded-lg comments-container hidden">
                    <div class="comments-list">
                        {% for comment in submission_data.comments %}
                        <div class="mb-4 {% if comment.user == user %}text-left{% endif %}">
                            <div class="inline-block bg-gray-600 rounded-lg p-2 max-w-3/4">
                                <p class="text-white">{{ comment.text }}</p>
                                <p class="text-xs text-gray-400">{{ comment.user.username }} - {{ comment.created_at }}</p>
                                {% if comment.replies.count > 0 %}
                                <button class="text-xs text-blue-400 mt-1 toggle-replies-button" data-comment-id="{{ comment.id }}">Antworten anzeigen</button>
                                <div class="replies-container hidden">
                                    {% for reply in comment.replies.all %}
                                    <div class="mt-2 {% if reply.user == user %}text-right{% endif %}">
                                        <div class="inline-block bg-gray-500 rounded-lg p-2 max-w-3/4">
                                            <p class="text-white">{{ reply.text }}</p>
                                            <p class="text-xs text-gray-300">{{ reply.user.username }} - {{ reply.created_at|date:"d. F Y H:i" }}</p>
                                            {% if reply.user == user %}
                                                <button class="text-xs text-blue-400 ml-2 edit-button" data-comment-id="{{ reply.id }}" data-text="{{ reply.text }}" data-url="{% url 'editing_challenge:edit_comment' reply.id %}" data-parent-id="{{ reply.parent.id }}">Bearbeiten</button>
                                                <form method="post" action="{% url 'editing_challenge:delete_comment' reply.id %}" style="display:inline;">
                                                    {% csrf_token %}
                                                    <button type="submit" class="text-xs text-red-400 ml-2">Löschen</button>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <button class="text-xs text-blue-400 mt-1 reply-button" data-comment-id="{{ comment.id }}">Antworten</button>
                            {% if comment.user == user %}
                                <button class="text-xs text-blue-400 ml-2 edit-button" data-comment-id="{{ comment.id }}" data-text="{{ comment.text }}" data-url="{% url 'editing_challenge:edit_comment' comment.id %}" data-parent-id="{{ comment.parent.id }}">Bearbeiten</button>
                                <form method="post" action="{% url 'editing_challenge:delete_comment' comment.id %}" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="text-xs text-red-400 ml-2">Löschen</button>
                                </form>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <form method="post" action="{% url 'editing_challenge:editing_add_comment' submission_data.submission.id %}" class="flex comment-form hidden text-fgray-950">
                        {% csrf_token %}
                        <input type="hidden" name="parent" class="parent-comment-id">
                        <input type="text" name="text" placeholder="Kommentar schreiben..." class="flex-grow p-1 rounded-l-lg">
                        <button type="submit" class="hover:bg-fgreen-900 transition duration-300 bg-forange-300 text-fgray-50 font-bold rounded-r-lg py-2 px-4">Senden</button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>

        {% if user.is_authenticated %}
        <div class="mt-8">
            <h2 class="text-2xl font-bold mb-4">Lade dein bearbeitetes Bild hoch</h2>
            <form method="post" enctype="multipart/form-data" action="{% url 'editing_challenge:editing_submission_create' object.id %}">
                {% csrf_token %}
                {{ submission_form.as_p }}
                <button type="submit" class="mt-4 hover:bg-fgreen-900 transition duration-300 bg-forange-300 text-white font-bold rounded-lg py-1 px-2">Hochladen</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>

<script>
    function closeAlert() {
        document.getElementById('alertBox').style.display = 'none';
    }
    
    document.addEventListener('DOMContentLoaded', function() {
        const toggleCommentsButtons = document.querySelectorAll('.toggle-comments-button');
        const replyButtons = document.querySelectorAll('.reply-button');
        const toggleRepliesButtons = document.querySelectorAll('.toggle-replies-button');
        const editButtons = document.querySelectorAll('.edit-button');

        toggleCommentsButtons.forEach(button => {
            button.addEventListener('click', function() {
                const commentsContainer = this.closest('li').querySelector('.comments-container');
                const commentForm = this.closest('li').querySelector('.comment-form');
                const commentCounter = this.querySelector('.comment-counter');
                const commentToggleText = this.querySelector('.comment-toggle-text');
                commentsContainer.classList.toggle('hidden');
                commentForm.classList.toggle('hidden');
                commentCounter.classList.toggle('hidden');
                commentToggleText.classList.toggle('hidden');
            });
        });

        replyButtons.forEach(button => {
            button.addEventListener('click', function() {
                const commentId = this.getAttribute('data-comment-id');
                const commentForm = this.closest('li').querySelector('.comment-form');
                commentForm.querySelector('.parent-comment-id').value = commentId;
                const commentInput = commentForm.querySelector('input[name="text"]');
                commentInput.focus();
                commentInput.placeholder = 'Antworten...';
            });
        });

        toggleRepliesButtons.forEach(button => {
            button.addEventListener('click', function() {
                const repliesContainer = this.closest('.bg-gray-600').querySelector('.replies-container');
                repliesContainer.classList.toggle('hidden');
                this.textContent = repliesContainer.classList.contains('hidden') ? 'Antworten anzeigen' : 'Antworten verbergen';
            });
        });

        editButtons.forEach(button => {
            button.addEventListener('click', function() {
                const commentId = this.getAttribute('data-comment-id');
                const commentText = this.getAttribute('data-text');
                const commentUrl = this.getAttribute('data-url');
                const parentCommentId = this.getAttribute('data-parent-id'); // Add this line
                const commentForm = this.closest('.comments-container').querySelector('.comment-form');

                commentForm.querySelector('input[name="text"]').value = commentText;
                commentForm.querySelector('.parent-comment-id').value = parentCommentId; // Add this line
                commentForm.setAttribute('action', commentUrl);
                commentForm.classList.remove('hidden');
            });
        });
    });
</script>
{% endblock %}
