{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="mt-12 mb-8 rounded-lg max-w-4xl mx-auto py-6 sm:px-6 lg:px-8">
    <div class="overflow-hidden shadow-sm sm:rounded-lg">
        
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
            <div class="bg-fgreen-800 rounded-lg p-4">
                <h1 class="text-3xl font-bold mb-4">Profil bearbeiten</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="mb-4">
                        <label for="id_full_name" class="block text-lg font-medium text-gray-50">Vollständiger Name</label>
                        <div class="flex items-center">
                            <div class="flex-grow">
                                <p class="text-white">{{ user.full_name }}</p>
                            </div>
                            <a href="#" class="ml-2 text-gray-400 hover:text-gray-600 edit-icon"><i class="fas fa-edit"></i></a>
                        </div>
                        <input type="text" name="full_name" id="id_full_name" value="{{ user.full_name }}" class="text-fgray-900 mt-1 block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md hidden">
                    </div>
                    <div class="mb-4">
                        <label for="id_email" class="block text-lg font-medium text-gray-50">E-Mail Adresse</label>
                        <div class="flex items-center">
                            <div class="flex-grow">
                                <p class="text-white">{{ user.email }}</p>
                            </div>
                            <a href="#" class="ml-2 text-gray-400 hover:text-gray-600 edit-icon"><i class="fas fa-edit"></i></a>
                        </div>
                        <input type="email" name="email" id="id_email" value="{{ user.email }}" class="text-fgray-900 mt-1 block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md hidden">
                    </div>
                    <div class="mb-4">
                        <label for="id_equipment" class="block text-lg font-medium text-gray-50">Ausrüstung</label>
                        <div class="flex items-center">
                            <div class="flex-grow">
                                <p class="text-white">{{ user.equipment }}</p>
                            </div>
                            <a href="#" class="ml-2 text-gray-400 hover:text-gray-600 edit-icon"><i class="fas fa-edit"></i></a>
                        </div>
                        <textarea name="equipment" id="id_equipment" class="text-fgray-900 mt-1 block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md hidden">{{ user.equipment }}</textarea>
                    </div>
                    <div class="mb-4">
                        <label for="id_interests" class="block text-lg font-medium text-gray-50">Interessen</label>
                        <div class="flex items-center">
                            <div class="flex-grow">
                                <p class="text-white">{{ user.interests }}</p>
                            </div>
                            <a href="#" class="ml-2 text-gray-400 hover:text-gray-600 edit-icon"><i class="fas fa-edit"></i></a>
                        </div>
                        <textarea name="interests" id="id_interests" class="text-fgray-900 mt-1 block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md hidden">{{ user.interests }}</textarea>
                    </div>
                    <div class="mb-4">
                        <label for="id_description" class="block text-lg font-medium text-gray-50">Beschreibung</label>
                        <div class="flex items-center">
                            <div class="flex-grow">
                                <p class="text-white">{{ user.description }}</p>
                            </div>
                            <a href="#" class="ml-2 text-gray-400 hover:text-gray-600 edit-icon"><i class="fas fa-edit"></i></a>
                        </div>
                        <textarea name="description" id="id_description" class="text-fgray-900 mt-1 block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md hidden">{{ user.description }}</textarea>
                    </div>
                    <div class="mb-4">
                        <label for="id_picture" class="mb-2 block text-lg font-medium text-gray-50">Profilbild</label>
                        <div class="flex items-center">
                            {% if user.picture %}
                                <img src="{{ user.picture.url }}" alt="Profilbild" class="w-16 h-16 rounded-full mr-4">
                            {% else %}
                                <div class="w-16 h-16 rounded-full bg-gray-300 mr-4"></div>
                            {% endif %}
                            <input type="file" name="picture" id="id_picture" accept="image/*" class="mt-1 block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                            <a href="#" class="ml-2 text-gray-400 hover:text-gray-600 edit-icon"><i class="fas fa-edit"></i></a>
                        </div>
                    </div>
                    <div class="mt-6 text-fgray-900">
                        <button type="submit" class="bg-forange-300 gray-800 text-fgray-950 px-4 py-2 rounded-md hover:bg-gray-700">Speichern</button>
                    </div>
                </form>
            </div>
            {% if user.is_staff %}
            <div class="bg-fgreen-800 p-4 rounded-lg">
                <h2 class="text-3xl font-bold mb-4 text-white">Admin Panel</h2>
                <ul class="text-fgray-950">
                    <li><a href="{% url 'meetup_list_private' %}" class="bg-forange-300 py-1 px-2 rounded-lg hover:text-fgray-950">Alle Treffen verwalten</a></li>
                    <!-- Add more admin links as needed -->
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.edit-icon').on('click', function(e) {
            e.preventDefault();
            var $icon = $(this);
            var $input = $icon.closest('.mb-4').find('input, textarea'); // Find input or textarea within the same container

            // Toggle visibility of input/textarea and paragraphs
            $input.toggleClass('hidden');
            $input.focus(); // Focus on the field for editing
            $icon.parent().find('p').toggleClass('hidden');
        });
    });
</script>

{% endblock %}
