{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="mt-12 mb-8 rounded-lg sm:w-[95vw] md:w-[75vw] mx-auto py-6">
    <div class="overflow-hidden shadow-sm sm:rounded-lg">
        
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
            <div class="bg-fgreen-800 rounded-lg p-4">
                <h1 class="text-3xl font-bold mb-4 text-fgray-50">Profil bearbeiten</h1>

                <form method="post" enctype="multipart/form-data" action="{% url 'members:profile_edit' %}">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="mb-4">
                        <label for="id_full_name" class="block text-lg font-medium text-fgray-50">Vollständiger Name</label>
                        <div class="flex items-center">
                            <div class="flex-grow">
                                <p class="text-fgray-50">{{ user.full_name }}</p>
                            </div>
                            <a href="#" class="ml-2 text-fgray-50 hover:text-fgray-50 edit-icon"><i class="fas fa-edit"></i></a>
                        </div>
                        <input type="text" name="full_name" id="id_full_name" value="{{ user.full_name }}" class="text-fgray-900 mt-1 block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md hidden">
                    </div>
                    <div class="mb-4">
                        <label for="id_username" class="block text-lg font-medium text-fgray-50">Benutzername</label>
                        <div class="flex items-center">
                            <div class="flex-grow">
                                <p class="text-fgray-50">{{ user.username }}</p>
                            </div>
                            <a href="#" class="ml-2 text-fgray-50 hover:text-fgray-50 edit-icon"><i class="fas fa-edit"></i></a>
                        </div>
                        <input type="text" name="username" id="id_username" value="{{ user.username }}" class="text-fgray-900 mt-1 block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md hidden">
                    </div>
                    <div class="mb-4">
                        <label for="id_email" class="block text-lg font-medium text-fgray-50">E-Mail Adresse</label>
                        <div class="flex items-center">
                            <div class="flex-grow">
                                <p class="text-fgray-50">{{ user.email }}</p>
                            </div>
                            <a href="#" class="ml-2 text-fgray-50 hover:text-fgray-50 edit-icon"><i class="fas fa-edit"></i></a>
                        </div>
                        <input type="email" name="email" id="id_email" value="{{ user.email }}" class="text-fgray-900 mt-1 block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md hidden">
                    </div>

                    <div class="mb-4">
                        <label for="id_description" class="block text-lg font-medium text-fgray-50">Beschreibung</label>
                        <div class="flex items-center">
                            <div class="flex-grow">
                                <p class="text-fgray-50">{{ user.description }}</p>
                            </div>
                            <a href="#" class="ml-2 text-fgray-50 hover:text-fgray-50 edit-icon"><i class="fas fa-edit"></i></a>
                        </div>
                        <textarea name="description" id="id_description" class="text-fgray-900 mt-1 block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md hidden">{{ user.description }}</textarea>
                    </div>
                    
                    <div class="mb-4">
                        <label for="id_picture" class="mb-2 block text-lg font-medium text-fgray-50">Profilbild</label>
                        <div class="flex items-center">
                            {% if user.picture %}
                                <img src="{{ user.picture.url }}" alt="Profilbild" class="w-16 h-16 rounded-full mr-4">
                            {% else %}
                                <div class="w-16 h-16 rounded-full bg-gray-300 mr-4"></div>
                            {% endif %}
                            <input type="file" name="picture" id="id_picture" accept="image/*" class="mt-1 block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                            <a href="#" class="ml-2 text-fgray-50 hover:text-fgray-50 edit-icon"><i class="fas fa-edit"></i></a>
                        </div>
                    </div>
                    <div class="mt-6">
                        <button type="submit" class="bg-forange-300 text-fgray-50 px-4 py-2 rounded-md hover:bg-gray-700">Speichern</button>
                    </div>
                </form>

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="mb-8">
                    <h2 class="text-lg font-bold mb-2 text-fgray-50">Change Password</h2>
                    <form method="post" action="{% url 'members:profile_edit' %}">
                        {% csrf_token %}
                        {{ password_form.as_p }}
                        <input type="hidden" name="change_password" value="1">
                        <button type="submit" class="bg-forange-300 text-fgray-50 px-4 py-2 rounded-md hover:bg-gray-700">Change Password</button>
                    </form>
                </div>
                
                <!-- Equipment section -->
                <div class="mb-8 mt-8">
                    <h2 class="text-lg font-bold mb-2 text-fgray-50">Ausrüstung</h2>
                    <form id="add-equipment-form" method="post" action="{% url 'members:add_equipment' %}">
                        {% csrf_token %}
                        {{ equipment_form.category }}
                        {{ equipment_form.name }}
                        <button type="submit" class="bg-forange-300 text-fgray-50 px-2 py-1 rounded-md">Hinzufügen</button>
                    </form>
                    <ul id="equipment-list" class="mt-2">
                        {% with prev_category='' %}
                            {% for equipment in user.equipment.all %}
                                {% if forloop.first or equipment.get_category_display != prev_category %}
                                    {% if not forloop.first %}</div>{% endif %}
                                    <div class="mb-2">
                                    <span class="text-fgray-50">{{ equipment.get_category_display }}:</span>
                                {% endif %}
                                <li class="flex justify-between items-center mb-1" id="equipment-{{ equipment.id }}">
                                    <span class="text-fgray-50">
                                        <span class="rounded-md">{{ equipment.name }}</span>
                                    </span>
                                    <button class="delete-equipment text-fgray-50 rounded-md" data-id="{{ equipment.id }}">
                                        Löschen
                                    </button>
                                </li>
                                {% if forloop.last %}</div>{% endif %}
                                {% with equipment.get_category_display as prev_category %}{% endwith %}
                            {% endfor %}
                        {% endwith %}
                    </ul>
                </div>

                <!-- Interests section -->
                <div class="mb-8">
                    <h2 class="text-lg font-bold mb-2 text-fgray-50">Interessen</h2>
                    <form id="add-interest-form" method="post" action="{% url 'members:add_interest' %}">
                        {% csrf_token %}
                        {{ interest_form.name }}
                        <button type="submit" class="bg-forange-300 text-fgray-50 px-2 py-1 rounded-md">Hinzufügen</button>
                    </form>
                    <ul id="interest-list" class="mt-2">
                        {% for interest in user.interests.all %}
                            <li class="flex justify-between items-center" id="interest-{{ interest.id }}">
                                <span class="text-fgray-50">{{ interest.name }}</span>
                                <button class="delete-interest text-fgray-50" data-id="{{ interest.id }}">Löschen</button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Photo Genres section -->
                <div class="mb-8">
                    <h2 class="text-lg font-bold mb-2 text-fgray-50">Fotografie-Genres</h2>
                    <form id="add-photo-genre-form" method="post" action="{% url 'members:add_photo_genre' %}">
                        {% csrf_token %}
                        {{ photo_genre_form.name }}
                        <button type="submit" class="bg-forange-300 text-fgray-50 px-2 py-1 rounded-md">Hinzufügen</button>
                    </form>
                    <ul id="photo-genre-list" class="mt-2">
                        {% for genre in user.photo_genres.all %}
                            <li class="flex justify-between items-center" id="photo-genre-{{ genre.id }}">
                                <span class="text-fgray-50">{{ genre.name }}</span>
                                <button class="delete-photo-genre text-fgray-50" data-id="{{ genre.id }}">Löschen</button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Steckbrief section 
                <div class="mb-4">
                    <h2 class="text-lg font-bold mb-2 text-fgray-50">Steckbrief</h2>
                    <form id="manage-steckbrief-form" method="post" action="{% url 'members:manage_steckbrief' %}">
                        {% csrf_token %}
                        {{ steckbrief_form.as_p }}
                        <button type="submit" class="bg-forange-300 text-fgray-50 px-2 py-1 rounded-md">Speichern</button>
                    </form>
                </div> -->
                
            </div>
            
            <div class="bg-fgreen-800 p-4 rounded-lg">
                {% if user.is_staff %}
                    <h2 class="text-3xl font-bold mb-4 text-fgray-50">Admin Panel</h2>
                    <div class="flex space-x-2 flex-wrap">
                        <div class="mb-4"><a href="{% url 'meetup_list_private' %}" class="bg-forange-300 py-1 px-2 rounded-lg hover:text-fgray-50">Alle Treffen verwalten</a></div>
                        <div class="mb-4"><a href="{% url 'editing_challenge:editing_challenge_list_private' %}" class="bg-forange-300 py-1 px-2 rounded-lg hover:text-fgray-50">Editing Challenge bearbeiten</a></div>
                        <div class="mb-4"><a href="{% url 'photo_challenge:photo_challenge_list_private' %}" class="bg-forange-300 py-1 px-2 rounded-lg hover:text-fgray-50">Photo Challenge bearbeiten</a></div>
                    </div>
                {% endif %}
                {% if user.is_authenticated %}
                    <!-- Category management section -->
                    <h2 class="text-lg font-bold mb-2">Kategorie Verwaltung</h2>

                    <!-- Add category form -->
                    <form method="post" action="{% url 'members:manage_categories' %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="add">
                        {{ category_form.name }}
                        <button type="submit" class="text-fgray-50 bg-forange-300 py-1 px-2 rounded-lg">Kategorie hinzufügen</button>
                    </form>

                    <!-- List of existing categories -->
                    {% for category in categories %}
                        <div class="mt-2">
                            <form method="post" action="{% url 'members:manage_categories' %}" class="inline">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="update">
                                <input type="hidden" name="category_id" value="{{ category.id }}">
                                <input type="text" name="name" value="{{ category.name }}" class="text-fgray-950 mb-2 inline-block">
                                <button type="submit" class="text-fgray-50 bg-fgreen-500 py-1 px-2 rounded-lg">Aktualisieren</button>
                            </form>
                            <form method="post" action="{% url 'members:manage_categories' %}" class="inline">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="delete">
                                <input type="hidden" name="category_id" value="{{ category.id }}">
                                <button type="submit" class="text-fgray-50 bg-fred-500 py-1 px-2 rounded-lg">Löschen</button>
                            </form>
                        </div>
                    {% endfor %}
            
                    <!-- Add photo form -->
                    <h2 class="text-lg font-bold mb-2 mt-4">Neues Foto hinzufügen</h2>
                    <form method="post" action="{% url 'members:add_photo' %}" enctype="multipart/form-data" class="text-fgray-950">
                        {% csrf_token %}
                        {{ form.category }}
                        {{ form.image }}
                        <button type="submit" class="text-fgray-50 bg-forange-300 py-1 px-2 rounded-lg">Foto hinzufügen</button>
                    </form>
                    
                    <!-- Display user's categories and photos -->
                    <h2 class="text-lg font-bold mb-2 mt-4 text-fgray-50">Meine Kategorien</h2>
                    {% for category in user.categories.all %}
                        <h3 class="text-lg font-bold mt-2 text-fgray-50">{{ category.name }}</h3>
                        <div class="mt-4 gap-5 sm:columns-1 sm:gap-8 md:columns-2 lg:columns-3 [&>img:not(:first-child)]:mt-8">
                            {% for photo in category.photos.all %}
                                <div class="first:mt-0 relative mt-4">
                                    <img src="{{ photo.image.url }}" alt="Photo in {{ category.name }}" class="rounded-lg">
                                    
                                    <form method="post" action="{% url 'members:delete_photo' photo.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="py-1 px-2 bg-forange-300 text-fgray-50 absolute top-2 right-2 rounded-full p-1">Löschen</button>
                                    </form>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.edit-icon').on('click', function(e) {
            e.preventDefault();
            var $icon = $(this);
            var $input = $icon.closest('.mb-4').find('input, textarea');
            $input.toggleClass('hidden');
            $input.focus();
            $icon.parent().find('p').toggleClass('hidden');
        });

        // Add equipment
        $('#add-equipment-form').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: $(this).serialize(),
            success: function(response) {
                if (response.success) {
                var newEquipment = '<li class="flex justify-between items-center" id="equipment-' + response.id + '">' +
                    '<span class="text-fgray-50">' +
                    (response.is_new_category ? response.category + ': ' : '') +
                    '<span class="bg-forange-300 px-2 py-1 rounded-md">' + response.name + '</span>' +
                    '</span>' +
                    '<button class="delete-equipment text-fgray-50" data-id="' + response.id + '">Löschen</button>' +
                    '</li>';
                $('#equipment-list').append(newEquipment);
                $('#id_category').val('');
                $('#id_name').val('');
                } else {
                console.log(response.errors);
                }
            }
            });
        });

        // Delete equipment
        $(document).on('click', '.delete-equipment', function() {
            var equipmentId = $(this).data('id');
            $.ajax({
                url: '/profile/delete_equipment/' + equipmentId + '/',
                type: 'POST',
                data: { 'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val() },
                success: function(response) {
                    if (response.success) {
                        $('#equipment-' + equipmentId).remove();
                    } else {
                        console.log(response.error);
                    }
                }
            });
        });
        // Add interest
        $('#add-interest-form').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        var newInterest = '<li class="flex justify-between items-center" id="interest-' + response.id + '">' +
                            '<span class="text-fgray-50">' + response.name + '</span>' +
                            '<button class="delete-interest text-fgray-50" data-id="' + response.id + '">Löschen</button>' +
                            '</li>';
                        $('#interest-list').append(newInterest);
                        $('#id_name').val('');
                    } else {
                        console.log(response.errors);
                    }
                }
            });
        });

        // Delete interest
        $(document).on('click', '.delete-interest', function() {
            var interestId = $(this).data('id');
            $.ajax({
                url: '/profile/delete_interest/' + interestId + '/',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(response) {
                    if (response.success) {
                        $('#interest-' + interestId).remove();
                    } else {
                        console.log(response.error);
                    }
                }
            });
        });

        // Add photo genre
        $('#add-photo-genre-form').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        var newPhotoGenre = '<li class="flex justify-between items-center" id="photo-genre-' + response.id + '">' +
                            '<span class="text-fgray-50">' + response.name + '</span>' +
                            '<button class="delete-photo-genre text-fgray-50" data-id="' + response.id + '">Löschen</button>' +
                            '</li>';
                        $('#photo-genre-list').append(newPhotoGenre);
                        $('#id_name').val('');
                    } else {
                        console.log(response.errors);
                    }
                }
            });
        });

        // Delete photo genre
        $(document).on('click', '.delete-photo-genre', function() {
            var photoGenreId = $(this).data('id');
            $.ajax({
                url: '/profile/delete_photo_genre/' + photoGenreId + '/',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(response) {
                    if (response.success) {
                        $('#photo-genre-' + photoGenreId).remove();
                    } else {
                        console.log(response.error);
                    }
                }
            });
        });

        // Manage steckbrief
        $('#manage-steckbrief-form').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        alert('Steckbrief updated successfully');
                    } else {
                        console.log(response.errors);
                    }
                }
            });
        });
    });
</script>

{% endblock %}