{% extends "main/base.html" %}

{% block content %}
<div class="sm:w-[95vw] md:w-[75vw] mt-12 mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-4">Impressum</h1>

    <h2 id="m46" class="text-2xl font-semibold mt-6 mb-2">Diensteanbieter</h2>
    <p class="mb-2">Marvin Menzel</p>
    <p class="mb-2">Grazer Straße 1A</p>
    <p class="mb-6">Deutschland</p>

    <h2 id="m56" class="text-2xl font-semibold mt-6 mb-2">Kontaktmöglichkeiten</h2>
    <p class="mb-6">E-Mail-Adresse: <a href="mailto:menz.marvin@gmail.com" class="text-blue-500 hover:text-blue-700">menz.marvin@gmail.com</a></p>

    <p class="seal mb-6"><a href="https://datenschutz-generator.de/" title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank" rel="noopener noreferrer nofollow" class="text-blue-500 hover:text-blue-700">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke</a></p>
</div>
{% endblock %}
