{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="hero relative">
    {% if image_of_the_day %}
        <img src="{{ image_of_the_day.image.url }}" alt="Image of the day" class="w-full h-auto object-cover">
        <div class="rounded-2xl bg-fgray-100 bg-opacity-70 md:py-1 md:px-6 absolute bottom-4 right-8 md:bottom-12 md:right-28 py-1 px-2 bg-black">
            <p class="text-sm md:text-base text-fgray-950 block">&#169 {{ image_of_the_day.user.username }}</p>
            <a href="{% url 'members:member_detail' image_of_the_day.user.username %}" class="text-fgray-950 text-sm md:text-base uppercase">Zum Profil</a>
        </div>
    {% else %}
        <img src="{% static 'images/hero1.jpg' %}" alt="Hero Image" class="w-full h-auto object-cover">
    {% endif %}
</div>

<div class="bg-fblue-950 text-fgray-50 pt-12 pb-16">
    <h2 class="sm:mx-[2.5vw] md:mx-24 text-3xl font-normal text-white uppercase sm:max-md:text-center">
        Herzlich Willkommen
    </h2>
    <div class="sm:mx-[2.5vw] pb-12 md:mx-24 grid grid-cols-1 md:grid-cols-2 gap-12 mt-8 sm:max-md:text-justify">
        <div>
            <p class="text-white font-light">
                Herzlich willkommen in unserer Fototreff-Gruppe Dresden! Wir freuen uns sehr, dich in unserer Gemeinschaft von Hobbyfotografen begrüßen zu dürfen. Bei unseren regelmäßigen Treffen haben wir die Gelegenheit, gemeinsam auf Fototour zu gehen, uns auszutauschen und voneinander zu lernen. <br /><br />
                Auf unserem Discord-Server sind wir ebenfalls aktiv: Hier veröffentlichen wir unsere neuesten Bilder, veranstalten monatliche Challenges und diskutieren leidenschaftlich über technische Details und Tipps rund um die Fotografie. Egal ob du Anfänger bist oder schon seit Jahren fotografierst - bei uns ist jeder willkommen, der die Freude am Fotografieren teilt. <br /><br />
                Lass uns gemeinsam die Schönheit Dresdens durch unsere Kameralinsen entdecken und festhalten. Wir freuen uns auf viele inspirierende Momente und kreative Fotos mit dir! <br /><br />
                Herzliche Grüße, <br />
                Dein Fototreff-Team Dresden
            </p>
        </div>
        
        <div class="sm:max-md:text-center">
            <!-- Display the upcoming meetup details here -->
            {% if upcoming_meetup %}
                <h3 class="text-2xl font-light text-white uppercase">
                    Unser nächster Fototreff
                </h3>
                <p class="text-white font-light mt-8">
                    <strong class="uppercase">Wann:</strong> {{ upcoming_meetup.date }}, {{ upcoming_meetup.time }} <br />
                    <strong class="uppercase">Wo:</strong> {{ upcoming_meetup.location }} <br />
                    <strong class="uppercase">Thema:</strong> {{ upcoming_meetup.topic }} <br /><br />
                    <strong>Kurzbeschreibung:</strong> {{ upcoming_meetup.short_description }} <br />
                    <a href="{% url 'meetup_detail' upcoming_meetup.pk %}" class="mt-4 inline-block bg-forange-300 text-white px-2 py-1 rounded-lg hover:bg-fgreen-900 transition duration-300">Details ansehen</a>
                </p>
            {% else %}
                <h2 class="text-3xl font-normal text-white uppercase">
                    Kein bevorstehendes Treffen
                </h2>
                <p class="text-white font-light mt-8">
                    Es gibt derzeit keine geplanten Treffen. Schau später noch einmal vorbei!
                </p>
            {% endif %}
        </div>
    </div>

    <div class="bg-fgreen-600 mx-auto text-fgray sm:w-[100vw] pb-12 pt-12">
        <div class="sm:mx-[2.5vw] md:mx-24 grid grid-cols-1 md:grid-cols-2 gap-12 sm:max-md:text-center">
            <div>
                <h2 class="text-3xl font-normal text-white uppercase ">
                    Nächste Foto Challenge
                </h2>
                {% if nearest_photo_challenge %}
                <div class="mt-8">
                    <p class="text-white font-light mt-8">
                        <strong class="uppercase">Thema:</strong> {{ nearest_photo_challenge.name }} <br />
                        <strong class="uppercase">Zeitraum:</strong> {{ nearest_photo_challenge.start_date }} - {{ nearest_photo_challenge.end_date }} <br />
                        <strong class="uppercase">Beschreibung:</strong> {{ nearest_photo_challenge.description }} <br />
                    </p>
                    <a href="{{ nearest_photo_challenge.get_absolute_url }}" class="mt-4 inline-block bg-forange-300 text-white px-2 py-1 rounded-lg hover:bg-fgreen-900 transition duration-300">Details ansehen</a>
                </div>
                {% else %}
                <p class="text-white mt-8">
                    Derzeit sind keine Foto Challenges verfügbar.
                </p>
                {% endif %}
            </div>
            <div>
                <h2 class="text-3xl font-normal text-white uppercase">
                    Nächste Editing Challenge
                </h2>
                {% if nearest_editing_challenge %}
                <div class="mt-8">
                    <p class="text-white font-light mt-8">
                        <strong class="uppercase">Thema:</strong> {{ nearest_editing_challenge.name }} <br />
                        <strong class="uppercase">Zeitraum:</strong> {{ nearest_editing_challenge.start_date }} - {{ nearest_editing_challenge.end_date }} <br />
                        <strong class="uppercase">Details:</strong> {{ nearest_editing_challenge.details }} <br />
                    </p>
                    <a href="{{ nearest_editing_challenge.get_absolute_url }}" class="mt-4 inline-block bg-forange-300 text-white px-2 py-1 rounded-lg hover:bg-fgreen-900 transition duration-300">Details ansehen</a>
                </div>
                {% else %}
                <p class="text-white mt-8">
                    Derzeit sind keine Editing Challenges verfügbar.
                </p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="bg-fblue-950 pt-12">
        <div class="sm:mx-[2.5vw] md:mx-24 grid grid-cols-1 md:grid-cols-2 gap-12">
            <div>
                <h3 class="text-2xl font-normal text-white uppercase sm:max-md:text-center">
                    Unsere neuesten Mitglieder:
                </h3>
                <div class="flex flex-wrap justify-center items-center gap-8 mt-8">
                    {% for user in newest_users %}
                    <div class="text-center flex flex-wrap">
                        <a href="{% url 'members:member_detail' user.username %}">
                            {% if user.picture %}
                            <img src="{{ user.picture.url }}" alt="{{ user.username }}" class="w-24 h-24 rounded-full mx-auto" />
                            {% else %}
                            <img src="static/images/default_profile.png" alt="Default Profile Picture" class="w-24 h-24 rounded-full mx-auto" />
                            {% endif %}
                            <p class="text-white mt-2">{{ user.full_name }}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="">
                <h3 class="text-2xl font-normal text-white uppercase sm:max-md:text-center">
                    Haben wir dein Interesse geweckt?
                </h3>
                <div class="flex justify-center flex-col items-center mt-8">
                    <p class="text-fgray-50 font-light sm:max-md:text-center">
                        Du bist herzlich eingeladen, Mitglied in unserer Fotogruppe zu werden. Wir freuen uns über jedes neue Gesicht. Als Mitglied kannst du an unseren Foto-Challenges und unseren Foto-Walks teilnehmen.
                    </p>
                    <a href="https://discord.gg/PG3jDR7Kh7" class="bg-forange-300 py-2 px-4 rounded-lg hover:bg-fgreen-900 transition duration-300 font-light mt-4">Tritt unserem Discord Server bei</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
