{% extends "main/base.html" %}

{% block content %}
<div class="sm:w-[95vw] md:w-[75vw] mt-12 mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-4">Kontakt</h1>
    <p class="mb-4">Hast du Fragen, Verbesserungsvorschläge oder willst uns beitreten?</p>

    {% if messages %}
        <div id="message-popup" class="fixed top-0 left-0 right-0 bottom-0 flex items-center justify-center bg-fblue-800 bg-opacity-50 z-50 hidden">
            <div class="bg-fblue-600 rounded-lg p-8 shadow-lg">
                {% for message in messages %}
                    <p class="{{ message.tags }} text-center">{{ message }}</p>
                {% endfor %}
                <button onclick="closePopup()" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Schließen</button>
            </div>
        </div>
    {% endif %}

    <form method="post" action="{% url 'kontakt' %}" class="bg-fgreen-600 shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="fullname">
                Vollständiger Name
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-fgray-950 leading-tight focus:outline-none focus:shadow-outline" id="fullname" name="fullname" type="text" placeholder="Vollständiger Name" required>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                E-Mail
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-fgray-950 leading-tight focus:outline-none focus:shadow-outline" id="email" name="email" type="email" placeholder="E-Mail" required>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="message">
                Nachricht
            </label>
            <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-fgray-950 leading-tight focus:outline-none focus:shadow-outline" id="message" name="message" rows="5" placeholder="Ihre Nachricht" required></textarea>
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-forange-300 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Senden
            </button>
        </div>
    </form>
</div>

<script>
    function closePopup() {
        document.getElementById('message-popup').classList.add('hidden');
    }

    // Show the popup if there are messages
    document.addEventListener('DOMContentLoaded', function() {
        if (document.querySelectorAll('#message-popup p').length > 0) {
            document.getElementById('message-popup').classList.remove('hidden');
        }
    });
</script>
{% endblock %}
